In [2]:
import requests
import pandas as pd

In [3]:
#Latest Microdata
URL_Latest_Data = "https://www.newyorkfed.org/medialibrary/Interactives/sce/sce/downloads/data/frbny-sce-public-microdata-latest"
open("Micro_Latest_Data.xlsx", "wb").write(requests.get(URL_Latest_Data).content)

#Microdata from 17 until 19
URL_17_19 = "https://www.newyorkfed.org/medialibrary/interactives/sce/sce/downloads/data/frbny-sce-public-microdata-complete-17-19.xlsx"
open("Micro_17_19.xlsx", "wb").write(requests.get(URL_17_19).content)

#Microdata from 13 to 16
URL_13_16 = "https://www.newyorkfed.org/medialibrary/interactives/sce/sce/downloads/data/frbny-sce-public-microdata-complete-13-16.xlsx"
open("Micro_13_16.xlsx", "wb").write(requests.get(URL_13_16).content)

52214657

In [4]:
#Put tables in a dataframe while skipping the first row (introduction line)
df1 = pd.read_excel('Micro_Latest_Data.xlsx', sheet_name='Data', skiprows=1)
df2 = pd.read_excel('Micro_17_19.xlsx', sheet_name='Data', skiprows=1)
df3 = pd.read_excel('Micro_13_16.xlsx', sheet_name='Data', skiprows=1)

In [5]:
#Check if all columns are identical (there is probably a smarter way of doing this ;-))
result = 0
for i in range(0,len(df1.columns)):
    if df1.columns[i] == df2.columns[i] == df3.columns[i]:
        result += 0
    else:
        result += 1
    i += 1
if result > 0:
    print("Attention: Not all tables are identical")

In [6]:
#Combine three tables into one dataframe
df_full = pd.concat([df1, df2, df3], axis=0)
print(df_full)

         date    userid  tenure    weight   Q1   Q2    Q3  Q4new  Q5new  \
0      202001  70103231      12  0.818250  4.0  3.0  20.0   62.0   26.0
1      202001  70103252      11  2.879998  3.0  2.0   1.0   30.0    1.0
2      202001  70103258      12  0.549674  4.0  4.0   0.0    3.0    4.0
3      202001  70103285      12  0.481746  4.0  4.0  10.0   10.0   10.0
4      202001  70103342      11  0.481746  3.0  3.0  65.0   50.0   30.0
...       ...       ...     ...       ...  ...  ...   ...    ...    ...
56439  201612  70079341       1  0.668000  4.0  3.0   1.0   10.0    3.0
56440  201612  70079345       1  0.803000  4.0  3.0   1.0   25.0   10.0
56441  201612  70079355       1  0.539000  3.0  3.0  10.0   50.0   49.0
56442  201612  70079359       1  3.964000  3.0  3.0  50.0   65.0   60.0
56443  201612  70079366       1  0.803000  4.0  3.0  16.0   80.0   90.0

       Q6new  ...  Q48  QRA1  QRA2  survey_date  _AGE_CAT  _NUM_CAT  \
0       44.0  ...  5.0   NaN   NaN   2020-01-23  40 to 60      High
1       10.0  ...  2.0   NaN   NaN   2020-01-02  40 to 60       Low
2       18.0  ...  4.0   NaN   NaN   2020-01-07   Over 60      High
3       10.0  ...  1.0   NaN   NaN   2020-01-27  Under 40      High
4       50.0  ...  4.0   NaN   NaN   2020-01-21  Under 40      High
...      ...  ...  ...   ...   ...          ...       ...       ...
56439   28.0  ...  2.0   1.0   5.0   2016-12-26  40 to 60       Low
56440   74.0  ...  2.0   1.0   1.0   2016-12-29  40 to 60       Low
56441   39.0  ...  5.0   2.0   2.0   2016-12-22   Over 60      High
56442   70.0  ...  2.0   3.0   4.0   2016-12-22  40 to 60       Low
56443   30.0  ...  5.0   4.0   3.0   2016-12-15  40 to 60      High

       _REGION_CAT  _COMMUTING_ZONE      _EDU_CAT  _HH_INC_CAT
0             West            218.0       College    Over 100k
1        Northeast            203.0   High School    Under 50k
2            South            102.0       College  50k to 100k
3          Midwest            100.0       College  50k to 100k
4          Midwest             58.0       College  50k to 100k
...            ...              ...           ...          ...
56439      Midwest            179.0  Some College    Under 50k
56440      Midwest            233.0  Some College    Under 50k
56441        South             42.0       College    Under 50k
56442        South            162.0   High School    Under 50k
56443        South            522.0       College    Over 100k

[140480 rows x 220 columns]

In [7]:
#Save combined data frame as xlsx
df_full.to_excel("Micro_Data_all.xlsx", sheet_name='Data')

In [ ]:
#test